# coding: utf-8

"""
    OWASP Dependency-Track

    REST API of OWASP Dependency-Track  # noqa: E501

    OpenAPI spec version: 4.13.4
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class AnalysisApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def retrieve_analysis(self, component, vulnerability, **kwargs):  # noqa: E501
        """Retrieves an analysis trail  # noqa: E501

        <p>Requires permission <strong>VIEW_VULNERABILITY</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_analysis(component, vulnerability, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str component: The UUID of the component (required)
        :param str vulnerability: The UUID of the vulnerability (required)
        :param str project: The UUID of the project
        :return: Analysis
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.retrieve_analysis_with_http_info(component, vulnerability, **kwargs)  # noqa: E501
        else:
            (data) = self.retrieve_analysis_with_http_info(component, vulnerability, **kwargs)  # noqa: E501
            return data

    def retrieve_analysis_with_http_info(self, component, vulnerability, **kwargs):  # noqa: E501
        """Retrieves an analysis trail  # noqa: E501

        <p>Requires permission <strong>VIEW_VULNERABILITY</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.retrieve_analysis_with_http_info(component, vulnerability, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str component: The UUID of the component (required)
        :param str vulnerability: The UUID of the vulnerability (required)
        :param str project: The UUID of the project
        :return: Analysis
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['component', 'vulnerability', 'project']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method retrieve_analysis" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'component' is set
        if ('component' not in params or
                params['component'] is None):
            raise ValueError("Missing the required parameter `component` when calling `retrieve_analysis`")  # noqa: E501
        # verify the required parameter 'vulnerability' is set
        if ('vulnerability' not in params or
                params['vulnerability'] is None):
            raise ValueError("Missing the required parameter `vulnerability` when calling `retrieve_analysis`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'project' in params:
            query_params.append(('project', params['project']))  # noqa: E501
        if 'component' in params:
            query_params.append(('component', params['component']))  # noqa: E501
        if 'vulnerability' in params:
            query_params.append(('vulnerability', params['vulnerability']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/analysis', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Analysis',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_analysis(self, **kwargs):  # noqa: E501
        """Records an analysis decision  # noqa: E501

        <p>Requires permission <strong>VULNERABILITY_ANALYSIS</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_analysis(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AnalysisRequest body:
        :return: Analysis
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_analysis_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.update_analysis_with_http_info(**kwargs)  # noqa: E501
            return data

    def update_analysis_with_http_info(self, **kwargs):  # noqa: E501
        """Records an analysis decision  # noqa: E501

        <p>Requires permission <strong>VULNERABILITY_ANALYSIS</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_analysis_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param AnalysisRequest body:
        :return: Analysis
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_analysis" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/analysis', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Analysis',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
