# coding: utf-8

"""
    OWASP Dependency-Track

    REST API of OWASP Dependency-Track  # noqa: E501

    OpenAPI spec version: 4.13.4
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class BomApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def export_component_as_cyclone_dx(self, uuid, **kwargs):  # noqa: E501
        """Returns dependency metadata for a specific component in CycloneDX format  # noqa: E501

        <p>Requires permission <strong>VIEW_PORTFOLIO</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.export_component_as_cyclone_dx(uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: The UUID of the component to export (required)
        :param str format: The format to output (defaults to JSON)
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.export_component_as_cyclone_dx_with_http_info(uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.export_component_as_cyclone_dx_with_http_info(uuid, **kwargs)  # noqa: E501
            return data

    def export_component_as_cyclone_dx_with_http_info(self, uuid, **kwargs):  # noqa: E501
        """Returns dependency metadata for a specific component in CycloneDX format  # noqa: E501

        <p>Requires permission <strong>VIEW_PORTFOLIO</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.export_component_as_cyclone_dx_with_http_info(uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: The UUID of the component to export (required)
        :param str format: The format to output (defaults to JSON)
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['uuid', 'format']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method export_component_as_cyclone_dx" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'uuid' is set
        if ('uuid' not in params or
                params['uuid'] is None):
            raise ValueError("Missing the required parameter `uuid` when calling `export_component_as_cyclone_dx`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'uuid' in params:
            path_params['uuid'] = params['uuid']  # noqa: E501

        query_params = []
        if 'format' in params:
            query_params.append(('format', params['format']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/vnd.cyclonedx+xml', 'application/vnd.cyclonedx+json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/bom/cyclonedx/component/{uuid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def export_project_as_cyclone_dx(self, uuid, **kwargs):  # noqa: E501
        """Returns dependency metadata for a project in CycloneDX format  # noqa: E501

        <p>Requires permission <strong>VIEW_PORTFOLIO</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.export_project_as_cyclone_dx(uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: The UUID of the project to export (required)
        :param str format: The format to output (defaults to JSON)
        :param str variant: Specifies the CycloneDX variant to export. Value options are 'inventory' and 'withVulnerabilities'. (defaults to 'inventory')
        :param bool download: Force the resulting BOM to be downloaded as a file (defaults to 'false')
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.export_project_as_cyclone_dx_with_http_info(uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.export_project_as_cyclone_dx_with_http_info(uuid, **kwargs)  # noqa: E501
            return data

    def export_project_as_cyclone_dx_with_http_info(self, uuid, **kwargs):  # noqa: E501
        """Returns dependency metadata for a project in CycloneDX format  # noqa: E501

        <p>Requires permission <strong>VIEW_PORTFOLIO</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.export_project_as_cyclone_dx_with_http_info(uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: The UUID of the project to export (required)
        :param str format: The format to output (defaults to JSON)
        :param str variant: Specifies the CycloneDX variant to export. Value options are 'inventory' and 'withVulnerabilities'. (defaults to 'inventory')
        :param bool download: Force the resulting BOM to be downloaded as a file (defaults to 'false')
        :return: str
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['uuid', 'format', 'variant', 'download']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method export_project_as_cyclone_dx" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'uuid' is set
        if ('uuid' not in params or
                params['uuid'] is None):
            raise ValueError("Missing the required parameter `uuid` when calling `export_project_as_cyclone_dx`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'uuid' in params:
            path_params['uuid'] = params['uuid']  # noqa: E501

        query_params = []
        if 'format' in params:
            query_params.append(('format', params['format']))  # noqa: E501
        if 'variant' in params:
            query_params.append(('variant', params['variant']))  # noqa: E501
        if 'download' in params:
            query_params.append(('download', params['download']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/vnd.cyclonedx+xml', 'application/vnd.cyclonedx+json', 'application/octet-stream'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/bom/cyclonedx/project/{uuid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='str',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def is_token_being_processed(self, uuid, **kwargs):  # noqa: E501
        """Determines if there are any tasks associated with the token that are being processed, or in the queue to be processed.  # noqa: E501

        <p>   This endpoint is intended to be used in conjunction with uploading a supported BOM document.   Upon upload, a token will be returned. The token can then be queried using this endpoint to   determine if any tasks (such as vulnerability analysis) is being performed on the BOM:   <ul>     <li>A value of <code>true</code> indicates processing is occurring.</li>     <li>A value of <code>false</code> indicates that no processing is occurring for the specified token.</li>   </ul>   However, a value of <code>false</code> also does not confirm the token is valid,   only that no processing is associated with the specified token. </p> <p>Requires permission <strong>BOM_UPLOAD</strong></p> <p><strong>Deprecated</strong>. Use <code>/v1/event/token/{uuid}</code> instead.</p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.is_token_being_processed(uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: The UUID of the token to query (required)
        :return: IsTokenBeingProcessedResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.is_token_being_processed_with_http_info(uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.is_token_being_processed_with_http_info(uuid, **kwargs)  # noqa: E501
            return data

    def is_token_being_processed_with_http_info(self, uuid, **kwargs):  # noqa: E501
        """Determines if there are any tasks associated with the token that are being processed, or in the queue to be processed.  # noqa: E501

        <p>   This endpoint is intended to be used in conjunction with uploading a supported BOM document.   Upon upload, a token will be returned. The token can then be queried using this endpoint to   determine if any tasks (such as vulnerability analysis) is being performed on the BOM:   <ul>     <li>A value of <code>true</code> indicates processing is occurring.</li>     <li>A value of <code>false</code> indicates that no processing is occurring for the specified token.</li>   </ul>   However, a value of <code>false</code> also does not confirm the token is valid,   only that no processing is associated with the specified token. </p> <p>Requires permission <strong>BOM_UPLOAD</strong></p> <p><strong>Deprecated</strong>. Use <code>/v1/event/token/{uuid}</code> instead.</p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.is_token_being_processed_with_http_info(uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: The UUID of the token to query (required)
        :return: IsTokenBeingProcessedResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method is_token_being_processed" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'uuid' is set
        if ('uuid' not in params or
                params['uuid'] is None):
            raise ValueError("Missing the required parameter `uuid` when calling `is_token_being_processed`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'uuid' in params:
            path_params['uuid'] = params['uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/bom/token/{uuid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='IsTokenBeingProcessedResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def upload_bom(self, **kwargs):  # noqa: E501
        """Upload a supported bill of material format document  # noqa: E501

        <p>    Expects CycloneDX and a valid project UUID. If a UUID is not specified,    then the <code>projectName</code> and <code>projectVersion</code> must be specified.    Optionally, if <code>autoCreate</code> is specified and <code>true</code> and the project does not exist,    the project will be created. In this scenario, the principal making the request will    additionally need the <strong>PORTFOLIO_MANAGEMENT</strong> or    <strong>PROJECT_CREATION_UPLOAD</strong> permission.  </p>  <p>    The BOM will be validated against the CycloneDX schema. If schema validation fails,    a response with problem details in RFC 9457 format will be returned. In this case,    the response's content type will be <code>application/problem+json</code>.  </p>  <p>Requires permission <strong>BOM_UPLOAD</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.upload_bom(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str project:
        :param bool auto_create:
        :param str project_name:
        :param str project_version:
        :param str project_tags:
        :param str parent_name:
        :param str parent_version:
        :param str parent_uuid:
        :param bool is_latest:
        :param str bom:
        :return: BomUploadResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.upload_bom_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.upload_bom_with_http_info(**kwargs)  # noqa: E501
            return data

    def upload_bom_with_http_info(self, **kwargs):  # noqa: E501
        """Upload a supported bill of material format document  # noqa: E501

        <p>    Expects CycloneDX and a valid project UUID. If a UUID is not specified,    then the <code>projectName</code> and <code>projectVersion</code> must be specified.    Optionally, if <code>autoCreate</code> is specified and <code>true</code> and the project does not exist,    the project will be created. In this scenario, the principal making the request will    additionally need the <strong>PORTFOLIO_MANAGEMENT</strong> or    <strong>PROJECT_CREATION_UPLOAD</strong> permission.  </p>  <p>    The BOM will be validated against the CycloneDX schema. If schema validation fails,    a response with problem details in RFC 9457 format will be returned. In this case,    the response's content type will be <code>application/problem+json</code>.  </p>  <p>Requires permission <strong>BOM_UPLOAD</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.upload_bom_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str project:
        :param bool auto_create:
        :param str project_name:
        :param str project_version:
        :param str project_tags:
        :param str parent_name:
        :param str parent_version:
        :param str parent_uuid:
        :param bool is_latest:
        :param str bom:
        :return: BomUploadResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project', 'auto_create', 'project_name', 'project_version', 'project_tags', 'parent_name', 'parent_version', 'parent_uuid', 'is_latest', 'bom']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method upload_bom" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'project' in params:
            form_params.append(('project', params['project']))  # noqa: E501
        if 'auto_create' in params:
            form_params.append(('autoCreate', params['auto_create']))  # noqa: E501
        if 'project_name' in params:
            form_params.append(('projectName', params['project_name']))  # noqa: E501
        if 'project_version' in params:
            form_params.append(('projectVersion', params['project_version']))  # noqa: E501
        if 'project_tags' in params:
            form_params.append(('projectTags', params['project_tags']))  # noqa: E501
        if 'parent_name' in params:
            form_params.append(('parentName', params['parent_name']))  # noqa: E501
        if 'parent_version' in params:
            form_params.append(('parentVersion', params['parent_version']))  # noqa: E501
        if 'parent_uuid' in params:
            form_params.append(('parentUUID', params['parent_uuid']))  # noqa: E501
        if 'is_latest' in params:
            form_params.append(('isLatest', params['is_latest']))  # noqa: E501
        if 'bom' in params:
            form_params.append(('bom', params['bom']))  # noqa: E501

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/problem+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['multipart/form-data'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/bom', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='BomUploadResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def upload_bom_base64_encoded(self, body, **kwargs):  # noqa: E501
        """Upload a supported bill of material format document  # noqa: E501

        <p>   Expects CycloneDX and a valid project UUID. If a UUID is not specified,   then the <code>projectName</code> and <code>projectVersion</code> must be specified.   Optionally, if <code>autoCreate</code> is specified and <code>true</code> and the project does not exist,   the project will be created. In this scenario, the principal making the request will   additionally need the <strong>PORTFOLIO_MANAGEMENT</strong> or   <strong>PROJECT_CREATION_UPLOAD</strong> permission. </p> <p>   The BOM will be validated against the CycloneDX schema. If schema validation fails,   a response with problem details in RFC 9457 format will be returned. In this case,   the response's content type will be <code>application/problem+json</code>. </p> <p>   The maximum allowed length of the <code>bom</code> value is 20'000'000 characters.   When uploading large BOMs, the <code>POST</code> endpoint is preferred,   as it does not have this limit. </p> <p>Requires permission <strong>BOM_UPLOAD</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.upload_bom_base64_encoded(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param BomSubmitRequest body: (required)
        :return: BomUploadResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.upload_bom_base64_encoded_with_http_info(body, **kwargs)  # noqa: E501
        else:
            (data) = self.upload_bom_base64_encoded_with_http_info(body, **kwargs)  # noqa: E501
            return data

    def upload_bom_base64_encoded_with_http_info(self, body, **kwargs):  # noqa: E501
        """Upload a supported bill of material format document  # noqa: E501

        <p>   Expects CycloneDX and a valid project UUID. If a UUID is not specified,   then the <code>projectName</code> and <code>projectVersion</code> must be specified.   Optionally, if <code>autoCreate</code> is specified and <code>true</code> and the project does not exist,   the project will be created. In this scenario, the principal making the request will   additionally need the <strong>PORTFOLIO_MANAGEMENT</strong> or   <strong>PROJECT_CREATION_UPLOAD</strong> permission. </p> <p>   The BOM will be validated against the CycloneDX schema. If schema validation fails,   a response with problem details in RFC 9457 format will be returned. In this case,   the response's content type will be <code>application/problem+json</code>. </p> <p>   The maximum allowed length of the <code>bom</code> value is 20'000'000 characters.   When uploading large BOMs, the <code>POST</code> endpoint is preferred,   as it does not have this limit. </p> <p>Requires permission <strong>BOM_UPLOAD</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.upload_bom_base64_encoded_with_http_info(body, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param BomSubmitRequest body: (required)
        :return: BomUploadResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method upload_bom_base64_encoded" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params or
                params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `upload_bom_base64_encoded`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json', 'application/problem+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/bom', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='BomUploadResponse',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
