# coding: utf-8

"""
    OWASP Dependency-Track

    REST API of OWASP Dependency-Track  # noqa: E501

    OpenAPI spec version: 4.13.4
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class CalculatorApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_cvss_scores(self, vector, **kwargs):  # noqa: E501
        """Returns the CVSS base score, impact sub-score and exploitability sub-score  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_cvss_scores(vector, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str vector: A valid CVSSv2 or CVSSv3 vector (required)
        :return: Score
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_cvss_scores_with_http_info(vector, **kwargs)  # noqa: E501
        else:
            (data) = self.get_cvss_scores_with_http_info(vector, **kwargs)  # noqa: E501
            return data

    def get_cvss_scores_with_http_info(self, vector, **kwargs):  # noqa: E501
        """Returns the CVSS base score, impact sub-score and exploitability sub-score  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_cvss_scores_with_http_info(vector, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str vector: A valid CVSSv2 or CVSSv3 vector (required)
        :return: Score
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['vector']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_cvss_scores" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'vector' is set
        if ('vector' not in params or
                params['vector'] is None):
            raise ValueError("Missing the required parameter `vector` when calling `get_cvss_scores`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'vector' in params:
            query_params.append(('vector', params['vector']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/calculator/cvss', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Score',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_owasp_rr_scores(self, vector, **kwargs):  # noqa: E501
        """Returns the OWASP Risk Rating likelihood score, technical impact score and business impact score  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_owasp_rr_scores(vector, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str vector: A valid OWASP Risk Rating vector (required)
        :return: Score
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_owasp_rr_scores_with_http_info(vector, **kwargs)  # noqa: E501
        else:
            (data) = self.get_owasp_rr_scores_with_http_info(vector, **kwargs)  # noqa: E501
            return data

    def get_owasp_rr_scores_with_http_info(self, vector, **kwargs):  # noqa: E501
        """Returns the OWASP Risk Rating likelihood score, technical impact score and business impact score  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_owasp_rr_scores_with_http_info(vector, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str vector: A valid OWASP Risk Rating vector (required)
        :return: Score
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['vector']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_owasp_rr_scores" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'vector' is set
        if ('vector' not in params or
                params['vector'] is None):
            raise ValueError("Missing the required parameter `vector` when calling `get_owasp_rr_scores`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'vector' in params:
            query_params.append(('vector', params['vector']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/calculator/owasp', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Score',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
