# coding: utf-8

"""
    OWASP Dependency-Track

    REST API of OWASP Dependency-Track  # noqa: E501

    OpenAPI spec version: 4.13.4
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class LicenseGroupApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def add_license_to_license_group(self, uuid, license_uuid, **kwargs):  # noqa: E501
        """Adds the license to the specified license group.  # noqa: E501

        <p>Requires permission <strong>POLICY_MANAGEMENT</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_license_to_license_group(uuid, license_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: A valid license group (required)
        :param str license_uuid: A valid license (required)
        :return: LicenseGroup
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.add_license_to_license_group_with_http_info(uuid, license_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.add_license_to_license_group_with_http_info(uuid, license_uuid, **kwargs)  # noqa: E501
            return data

    def add_license_to_license_group_with_http_info(self, uuid, license_uuid, **kwargs):  # noqa: E501
        """Adds the license to the specified license group.  # noqa: E501

        <p>Requires permission <strong>POLICY_MANAGEMENT</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.add_license_to_license_group_with_http_info(uuid, license_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: A valid license group (required)
        :param str license_uuid: A valid license (required)
        :return: LicenseGroup
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['uuid', 'license_uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method add_license_to_license_group" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'uuid' is set
        if ('uuid' not in params or
                params['uuid'] is None):
            raise ValueError("Missing the required parameter `uuid` when calling `add_license_to_license_group`")  # noqa: E501
        # verify the required parameter 'license_uuid' is set
        if ('license_uuid' not in params or
                params['license_uuid'] is None):
            raise ValueError("Missing the required parameter `license_uuid` when calling `add_license_to_license_group`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'uuid' in params:
            path_params['uuid'] = params['uuid']  # noqa: E501
        if 'license_uuid' in params:
            path_params['licenseUuid'] = params['license_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/licenseGroup/{uuid}/license/{licenseUuid}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LicenseGroup',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def create_license_group(self, **kwargs):  # noqa: E501
        """Creates a new license group  # noqa: E501

        <p>Requires permission <strong>POLICY_MANAGEMENT</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_license_group(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param LicenseGroup body:
        :return: LicenseGroup
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_license_group_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.create_license_group_with_http_info(**kwargs)  # noqa: E501
            return data

    def create_license_group_with_http_info(self, **kwargs):  # noqa: E501
        """Creates a new license group  # noqa: E501

        <p>Requires permission <strong>POLICY_MANAGEMENT</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_license_group_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param LicenseGroup body:
        :return: LicenseGroup
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_license_group" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/licenseGroup', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LicenseGroup',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_license_group(self, uuid, **kwargs):  # noqa: E501
        """Deletes a license group  # noqa: E501

        <p>Requires permission <strong>POLICY_MANAGEMENT</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_license_group(uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: The UUID of the license group to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_license_group_with_http_info(uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_license_group_with_http_info(uuid, **kwargs)  # noqa: E501
            return data

    def delete_license_group_with_http_info(self, uuid, **kwargs):  # noqa: E501
        """Deletes a license group  # noqa: E501

        <p>Requires permission <strong>POLICY_MANAGEMENT</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_license_group_with_http_info(uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: The UUID of the license group to delete (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_license_group" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'uuid' is set
        if ('uuid' not in params or
                params['uuid'] is None):
            raise ValueError("Missing the required parameter `uuid` when calling `delete_license_group`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'uuid' in params:
            path_params['uuid'] = params['uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/licenseGroup/{uuid}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_license_group(self, uuid, **kwargs):  # noqa: E501
        """Returns a specific license group  # noqa: E501

        <p>Requires permission <strong>POLICY_MANAGEMENT</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_license_group(uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: The UUID of the license group to retrieve (required)
        :return: LicenseGroup
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_license_group_with_http_info(uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.get_license_group_with_http_info(uuid, **kwargs)  # noqa: E501
            return data

    def get_license_group_with_http_info(self, uuid, **kwargs):  # noqa: E501
        """Returns a specific license group  # noqa: E501

        <p>Requires permission <strong>POLICY_MANAGEMENT</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_license_group_with_http_info(uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: The UUID of the license group to retrieve (required)
        :return: LicenseGroup
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_license_group" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'uuid' is set
        if ('uuid' not in params or
                params['uuid'] is None):
            raise ValueError("Missing the required parameter `uuid` when calling `get_license_group`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'uuid' in params:
            path_params['uuid'] = params['uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/licenseGroup/{uuid}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LicenseGroup',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_license_groups(self, **kwargs):  # noqa: E501
        """Returns a list of all license groups  # noqa: E501

        <p>Requires permission <strong>POLICY_MANAGEMENT</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_license_groups(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str page_number: The page to return. To be used in conjunction with <code>pageSize</code>.
        :param str page_size: Number of elements to return per page. To be used in conjunction with <code>pageNumber</code>.
        :param str offset: Offset to start returning elements from. To be used in conjunction with <code>limit</code>.
        :param str limit: Number of elements to return per page. To be used in conjunction with <code>offset</code>.
        :param str sort_name: Name of the resource field to sort on.
        :param str sort_order: Ordering of items when sorting with <code>sortName</code>.
        :return: list[LicenseGroup]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_license_groups_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.get_license_groups_with_http_info(**kwargs)  # noqa: E501
            return data

    def get_license_groups_with_http_info(self, **kwargs):  # noqa: E501
        """Returns a list of all license groups  # noqa: E501

        <p>Requires permission <strong>POLICY_MANAGEMENT</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_license_groups_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str page_number: The page to return. To be used in conjunction with <code>pageSize</code>.
        :param str page_size: Number of elements to return per page. To be used in conjunction with <code>pageNumber</code>.
        :param str offset: Offset to start returning elements from. To be used in conjunction with <code>limit</code>.
        :param str limit: Number of elements to return per page. To be used in conjunction with <code>offset</code>.
        :param str sort_name: Name of the resource field to sort on.
        :param str sort_order: Ordering of items when sorting with <code>sortName</code>.
        :return: list[LicenseGroup]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page_number', 'page_size', 'offset', 'limit', 'sort_name', 'sort_order']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_license_groups" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'page_number' in params:
            query_params.append(('pageNumber', params['page_number']))  # noqa: E501
        if 'page_size' in params:
            query_params.append(('pageSize', params['page_size']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'sort_name' in params:
            query_params.append(('sortName', params['sort_name']))  # noqa: E501
        if 'sort_order' in params:
            query_params.append(('sortOrder', params['sort_order']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/licenseGroup', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[LicenseGroup]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def remove_license_from_license_group(self, uuid, license_uuid, **kwargs):  # noqa: E501
        """Removes the license from the license group.  # noqa: E501

        <p>Requires permission <strong>POLICY_MANAGEMENT</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.remove_license_from_license_group(uuid, license_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: A valid license group (required)
        :param str license_uuid: A valid license (required)
        :return: LicenseGroup
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.remove_license_from_license_group_with_http_info(uuid, license_uuid, **kwargs)  # noqa: E501
        else:
            (data) = self.remove_license_from_license_group_with_http_info(uuid, license_uuid, **kwargs)  # noqa: E501
            return data

    def remove_license_from_license_group_with_http_info(self, uuid, license_uuid, **kwargs):  # noqa: E501
        """Removes the license from the license group.  # noqa: E501

        <p>Requires permission <strong>POLICY_MANAGEMENT</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.remove_license_from_license_group_with_http_info(uuid, license_uuid, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str uuid: A valid license group (required)
        :param str license_uuid: A valid license (required)
        :return: LicenseGroup
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['uuid', 'license_uuid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method remove_license_from_license_group" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'uuid' is set
        if ('uuid' not in params or
                params['uuid'] is None):
            raise ValueError("Missing the required parameter `uuid` when calling `remove_license_from_license_group`")  # noqa: E501
        # verify the required parameter 'license_uuid' is set
        if ('license_uuid' not in params or
                params['license_uuid'] is None):
            raise ValueError("Missing the required parameter `license_uuid` when calling `remove_license_from_license_group`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'uuid' in params:
            path_params['uuid'] = params['uuid']  # noqa: E501
        if 'license_uuid' in params:
            path_params['licenseUuid'] = params['license_uuid']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/licenseGroup/{uuid}/license/{licenseUuid}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LicenseGroup',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_license_group(self, **kwargs):  # noqa: E501
        """Updates a license group  # noqa: E501

        <p>Requires permission <strong>POLICY_MANAGEMENT</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_license_group(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param LicenseGroup body:
        :return: LicenseGroup
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_license_group_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.update_license_group_with_http_info(**kwargs)  # noqa: E501
            return data

    def update_license_group_with_http_info(self, **kwargs):  # noqa: E501
        """Updates a license group  # noqa: E501

        <p>Requires permission <strong>POLICY_MANAGEMENT</strong></p>  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_license_group_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param LicenseGroup body:
        :return: LicenseGroup
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['body']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_license_group" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['ApiKeyAuth', 'BearerAuth']  # noqa: E501

        return self.api_client.call_api(
            '/v1/licenseGroup', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='LicenseGroup',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
